[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
pandas = "*"
lxml = "*"
html5lib = "*"
beautifulsoup4 = "*"
requests = "*"
selenium = "3.141.0"
pip = "*"
install = "*"
twitter = "*"
config = "*"

[dev-packages]

[requires]
python_version = "3.8"
